/* Error: Undefined mixin.
 *     ,
 * 132 | /   @include min-width(1201) {
 * 133 | |     justify-content: space-around;
 * 134 | \   }
 *     '
 *   styles.scss 132:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 132 \2502  \250c    @include min-width(1201) {\a 133 \2502  \2502      justify-content: space-around;\a 134 \2502  \2514    }\a     \2575 \a   styles.scss 132:3  root stylesheet";
}
